In [1]:
'hi'

'hi'

In [10]:
'20+01'

'20+01'

In [3]:
'123'

'123'

In [4]:
'name'

'name'

In [6]:
name='noudana'
city='cuddalore'

In [7]:
print(name)

noudana

In [8]:
print(city)

cuddalore

In [9]:
'''noudana
nellikuppam
cuddalore'''

'noudana\nnellikuppam\ncuddalore'

In [1]:
a=10
b=20
print(a+b)

30

In [2]:
a='30'
b='55'
print(a+b)

3055

In [28]:
variablz\rnoudana
nellikuppam\ncuddalore
pythons \b

SyntaxError: unexpected character after line continuation character (2235378877.py, line 1)

In [5]:
input("enter a name:")

'noudana'

In [6]:
input('a')
input('b')
print(a+b)

3055

In [7]:
firstname = input("enter a firstname")
lastname = input("enter a lastname")

In [8]:
firstname

'wel'

In [9]:
lastname

'come'

In [11]:
x = 100
name = "noudana"

In [12]:
x

100

In [13]:
name

'noudana'

In [15]:
firstname = input("enter first name")
lastname = input("enter last name")

In [16]:
print(firstname+lastname)

welcomepython

In [17]:
print(firstname,lastname)

welcome python

In [18]:
'hi'

'hi'

In [19]:
19+67

86

In [20]:
'56'+'78'

'5678'

In [21]:
name='elakkiya'
city='cuddalore'

In [22]:
name

'elakkiya'

In [23]:
city

'cuddalore'

In [24]:
'''elakkiya
nellikuppam
cuddalore'''

'elakkiya\nnellikuppam\ncuddalore'

In [25]:
a=56
b=87
print(a+b)

143

In [27]:
a='56'
b='78'
print(a+b)

5678

In [35]:
print('variablz\r elakkiya')
print('nellikuppam\n cuddalore')
print ('pythons\b')

 elakkiya
nellikuppam
 cuddalore
python

In [32]:
firstname = input("enter firstname")
lastname = input("enter lastname")

In [33]:
firstname

'welcome'

In [34]:
lastname

'python'

In [4]:
value = 2 * 1 + 1 - 2 * 5;
print(value)

-7

In [11]:
value = (2 + 1 + 1 - 2 * 5);
print(value)

-6

In [12]:
import math

In [13]:
math. factorial(5)

120

In [14]:
math. sqrt(144)

12.0

In [15]:
import math

In [16]:
math.pi

3.141592653589793

In [17]:
math.e

2.718281828459045

In [18]:
import math

In [19]:
degree = 30

In [20]:
radians = math.radians(degree)
radians

0.5235987755982988

In [21]:
math.sin(radians)

0.49999999999999994

In [23]:
math.cos(radians)

0.8660254037844387

In [24]:
math.tan(radians)

0.5773502691896257

In [25]:
circles = 50
radius = 34
price = 98
pi = 3.14
area = pi * radius ** 2
total_area = area * circles
total_price_01 = total_area * price
total_price_01

17786216.0

In [26]:
import math

In [27]:
circle = 50
radius = 34
price = 98
pi = math.pi
area = pi * radius ** 2
total_area = area * circles
total_price_02 = total_area * price
total_price_02

17795237.426994022

In [28]:
x = 5
y = 5
x ==y

True

In [30]:
x = 5
y = 6
x == y

False

In [31]:
x = 5
y = 6
x != y

True

In [32]:
x = 5
y = 5
x != y

False

In [33]:
x = 5
y = 6
x>y

False

In [34]:
x = 7
y = 5
x>y

True

In [35]:
x = 6
y = 5
x<y

False

In [36]:
x = 6
y = 5
x >= y

True

In [37]:
x = 6
y = 6
x >= y

True

In [38]:
x = 5
y = 6
x <= y

True

In [39]:
x = 6
y = 6
x <= y

True

In [40]:
word = 'apple'

In [41]:
'a' in word

True

In [42]:
'z'not in word

True

In [1]:
age = input('enter your age:')
age = int(age)
age

17

In [3]:
if age<10:
    print('recommend cartoon movies')
else:
    print('recommend horror movies')

recommend horror movies

In [4]:
age = input('enter your age:')
age = int(age)
age

17

In [5]:
print('cartoon') if age<=10 else print('horror')

horror

In [6]:
n = 8
if n%2==0:
    print('even',n)
if n%2!=0:
    print('odd',n)

even 8

In [10]:
a = 45
b = 23
c = 76
if a>b and a>c:
   print('a is big',a)
elif b>c:
   print ('b is big',b)
else:
   print('c is big',c)

c is big 76

In [2]:
state = input("enter state: ")

In [3]:
if state =='tamilnadu':
    print('tamil movies')
elif state =='karnataka':
    print('kannada movies')
elif state =='maharashtra':
    print('hindi movies')
else:
    print('english movies')

kannada movies

In [6]:
state = input('enter the state:')

In [7]:
match state:
    case 'tamilnadu':
        print('recommend tamil movies')
    case 'karnataka':
        print('recommend kannada movies')
    case _:
        print('recommend english movies')

recommend english movies

In [11]:
idly = input('how is today''s idly? good or bad?:')
chutney = input ('how is chutney? good or bad?:')
print(idly,chutney)

good good

In [12]:
if idly =='good' and chutney == 'good':
    print('today breakfast was good')
else:
    print('today breakfast was bad')

today breakfast was good

In [13]:
lottery1 = input('have you won? yes or no:')
lottery2 = input('have you won? yes or no:')
print(lottery1, lottery2)

yes yes

In [14]:
if lottery1 == 'yes' or lottery2 == 'yes':
    print('happy customer')
else:
    print('sad customer')

happy customer

In [16]:
book = ['python', 'r program', 'sql' 'dart']
book

['python', 'r program', 'sqldart']

In [17]:
numbers = [10, 98, 67, 46]
numbers

[10, 98, 67, 46]

In [18]:
person = ['parthiban', 33, 'male',8870472266]
person

['parthiban', 33, 'male', 8870472266]

In [19]:
book = []
book

[]

In [20]:
book.append('python')
book.append('r program')
book.append('sql')
book.append('dart')
book

['python', 'r program', 'sql', 'dart']

In [21]:
book = ['dart', 'sql', 'flutter','django','flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [22]:
book.remove('django')
book.remove('sql')
book.remove('dart')
book

['flutter', 'flask']

In [23]:
book = ['dart','sql','flutter','django','flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [24]:
book.clear()
book

[]

In [25]:
book = ['dart','sql','flutter','django','flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [26]:
book = []
book

[]

In [27]:
book = ['tamil','english','maths']
book

['tamil', 'english', 'maths']

In [28]:
book = ['dart','sql','flutter','django','flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [29]:
book[0]

'dart'

In [30]:
book[4]

'flask'

In [32]:
book = ['dart','sql','flutter','django','flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [33]:
book = ['dart','sql','flutter','django','flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [34]:
book.insert(3, 'rust')
book

['dart', 'sql', 'flutter', 'rust', 'django', 'flask']

In [35]:
book = ['dart','sql','flutter','django','flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [36]:
book[3]

'django'

In [37]:
book[3] = 'rust'
book

['dart', 'sql', 'flutter', 'rust', 'flask']

In [1]:
book = ['dart', 'sql', 'flutter', 'django', 'flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [2]:
book[3]

'django'

In [3]:
book[3] = 'rust'
book

['dart', 'sql', 'flutter', 'rust', 'flask']

In [4]:
book = ['dart', 'sql', 'flutter', 'django', 'flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [5]:
'sql' in book

True

In [6]:
book = ['dart', 'sql', 'flutter', 'django','flask']
book

['dart', 'sql', 'flutter', 'django', 'flask']

In [7]:
len(book)

5

In [8]:
class_a = ['parthiban', 'ragul', 'radhakrish', 'rajesh', 'lakshmi', 'revathi']
class_b = ['anupama','rekha','parvathy', 'ravi', 'venkat']
school = [class_a, class_b]

In [9]:
school

[['parthiban', 'ragul', 'radhakrish', 'rajesh', 'lakshmi', 'revathi'],
 ['anupama', 'rekha', 'parvathy', 'ravi', 'venkat']]

In [10]:
week_days = ('mon', 'tue', 'wed', 'thu', 'fri')
week_days

('mon', 'tue', 'wed', 'thu', 'fri')

In [11]:
id_numbers = (1, 2, 3, 4, 5)
id_numbers

(1, 2, 3, 4, 5)

In [12]:
person = ('parthiban', 33, 'male', 9576488340)
person

('parthiban', 33, 'male', 9576488340)

In [13]:
fruits = ('apple', 'orange', 'banana', 'kiwi')
fruits

('apple', 'orange', 'banana', 'kiwi')

In [14]:
fruits.count('apple')

1

In [15]:
week_days = ('mon', 'tue', 'wed', 'thu', 'fri')
week_days

('mon', 'tue', 'wed', 'thu', 'fri')

In [16]:
week_days[0]

'mon'

In [17]:
week_days[4]

'fri'

In [18]:
week_days.index('tue')

1

In [19]:
len(week_days)

5

In [20]:
score = {
    'tamil': 99,
    'english': 77,
    'maths': 87,
    'science': 98,
    'social': 78
}
score

{'tamil': 99, 'english': 77, 'maths': 87, 'science': 98, 'social': 78}

In [21]:
students = {}

In [22]:
students[2007535] = 'parthiban'
students[2007536] = 'ragul'
students[2007538] = 'rajesh'

In [23]:
students

{2007535: 'parthiban', 2007536: 'ragul', 2007538: 'rajesh'}

In [29]:
students = {
    2007535: 'Parthiban',
    2007536: 'Ragul',
    2007538: 'Rajesh'
}

students

{2007535: 'Parthiban', 2007536: 'Ragul', 2007538: 'Rajesh'}

In [31]:
students.pop(2007536)
students

{2007535: 'Parthiban', 2007538: 'Rajesh'}

In [34]:
students = {
    2007535: 'parthiban',
    2007536: 'ragul',
    2007538: 'rajesh'
}
students

{2007535: 'parthiban', 2007536: 'ragul', 2007538: 'rajesh'}

In [35]:
students[2007535]

'parthiban'

In [36]:
students[2007538] = 'ravanan'
students

{2007535: 'parthiban', 2007536: 'ragul', 2007538: 'ravanan'}

In [37]:
students.values()

dict_values(['parthiban', 'ragul', 'ravanan'])

In [38]:
2007535 in students

True

In [39]:
2007537 in students.keys()

False

In [40]:
'parthiban' in students.values()

True

In [41]:
'ravi' in students.values()

False

In [42]:
len(students)

3

In [43]:
count = 1
while(count<=5):
    print(f'counting:{count}')
    count +=1

counting:1
counting:2
counting:3
counting:4
counting:5

In [44]:
music_directors = ['aniruth', 'ilayaraja', 'yuvan', 'deva']
music_directors

['aniruth', 'ilayaraja', 'yuvan', 'deva']

In [45]:
updated_list = []
updated_list.append(f'mr. {music_directors[0]}')
updated_list.append(f'mr. {music_directors[1]}')
updated_list.append(f'mr. {music_directors[2]}')
updated_list.append(f'mr. {music_directors[3]}')
updated_list

['mr. aniruth', 'mr. ilayaraja', 'mr. yuvan', 'mr. deva']

In [46]:
updated_list = []
count = 0
while count<len(music_directors):
    updated_list.append(f'mr. {music_directors[count]}')
    count +=1
    updated_list

In [47]:
prices = [108, 736, 67, 87]
prices

[108, 736, 67, 87]

In [49]:
total_prices = []
count = 0
while count<len(prices):
    tax = prices[count] + (18/100)
    total = prices[count] +tax
    total_prices.append(total)
    count +=1
total_prices

[216.18, 1472.1799999999998, 134.18, 174.18]

In [50]:
prices = (108, 736, 67, 87)
prices

(108, 736, 67, 87)

In [51]:
total_prices = []
count = 
while count<len(prices):
    tax = prices[count] + (18/100)
    total = prices[count] +tax
    total_prices.append(total)
    print(f'printing process {count}')
total_prices

[]

In [2]:
beverages = ['coke', 'pepsi', 'sprite', 'fanta', 'mirinda']
beverages

['coke', 'pepsi', 'sprite', 'fanta', 'mirinda']

In [3]:
for beverage in beverages:
    print(beverage)

coke
pepsi
sprite
fanta
mirinda

In [5]:
sentence = 'my name is billa!'